html, body {
   background: #000;
   color: #fff;
   font-family: 'Karla', sans-serif;
   font-size: 24px;
   text-align: center;
   height: 100%;
}

body {
  min-height: 100%;
}

img {
   height: auto;
   max-width: 100%;
}

a {
   color: #fff;
   text-decoration: none;
}

.container {
  align-content: center;
  display: flex;
  justify-items: center;
  height: 100%;
}

ul {
  align-content: center;
  display: flex;
  justify-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

ul, ol {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

ul > li,
ol > li {
  margin-top: 1rem;
  width: 100%;
}