html {
   background: #000;
   height: 100%;
}

body {
   align-items: center;
   background: #fff;
   display: flex;
   font-family: 'Karla', sans-serif;
   justify-content: center;
   min-height: 100%;
}

.wrapper {
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 30vw;
}

form {
   align-items: stretch;
   display: flex;
   justify-content: space-between;
   padding: 1rem 0;
}

form input{
   flex: 3;
   margin-right: 5px;
}
form button {
   flex: 1;
}

ul#todo__list {
   text-align: left;
}

li.incomplete {

}

li.complete {
   font-weight: bold;
   text-decoration: line-through;
}

p,
h1 {
   font-family: 'Space Mono', monospace;
   margin: 0;
   padding: 0;
}